In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('DisasterDeclarationsSummaries.csv')

In [10]:
features = list(df.columns)

In [12]:
features

['disasterNumber',
 'ihProgramDeclared',
 'iaProgramDeclared',
 'paProgramDeclared',
 'hmProgramDeclared',
 'state',
 'declarationDate',
 'fyDeclared',
 'disasterType',
 'incidentType',
 'title',
 'incidentBeginDate',
 'incidentEndDate',
 'disasterCloseOutDate',
 'declaredCountyArea',
 'placeCode',
 'hash',
 'lastRefresh']

In [14]:
df = pd.read_excel('https://query.data.world/s/djmtswq4upcfagdslq72wonalylp6y')

In [15]:
df.head()

           Key     AFF    DES    MAJ     MIN   Total
0  48157674700   323.0  252.0  627.0  1518.0  2720.0
1  48361022300  1167.0    9.0  201.0  1122.0  2499.0
2  48339694301   386.0  543.0  779.0   766.0  2474.0
3  48355006200  1625.0    0.0   72.0   656.0  2353.0
4  48361021900  1220.0   36.0  112.0   630.0  1998.0